/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


#authentication {
  background-image: url(http://res.cloudinary.com/dcl72qrya/image/upload/v1505711124/login_background_hpnkgq.png);
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.login-form {
  display: flex
  flex-direction: column;
  text-align: center;
  padding: 20%
  background-color: white;
}
