/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html * {
   font-family: Helvetica, Arial, sans-serif;
 }

html, body {
  padding: 0;
  margin: 0;
}

#login-auth, #signup-auth {
  height: 100vh;
  width: 100%;
}

#login-auth{
  background: url(http://res.cloudinary.com/dcl72qrya/image/upload/v1505711124/login_background_hpnkgq.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#signup-auth{
  background-image: url(http://res.cloudinary.com/dcl72qrya/image/upload/v1505717424/signup_background_nqqdgh.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.front-display{
  margin-right: 150px;
}

.front-display > img{
  margin-right: 100px;
}

.logo{
  height: 40%;
  left: 20%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  font-size: 20px;
}

.logo > img {
  height: 184.25px;
  margin-top: 20px;
  margin-left: 90px;
}

.logo > p {
  margin-top: 15px;
}

.login-content, .signup-content{
  width: 100vw;
  height: 300px;
  position: absolute;
  top: 20%;
  right: 5%;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  flex-direction: row;
  justify-content: flex-end;
}

.test{
  display: flex;
  flex-direction: column;
}

.signup-elements{
}

.signup-form > form, .login-form > form{
  display: flex;
  flex-direction: column;
}

.login-form, .signup-form {
  width: 405px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px 40px;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 5px;
  list-style: none;
}

.signup-btn > ul{
  /*padding-top: 10px;*/
  padding: 10px;
  /*display: flex;
  flex-direction: column;*/
}

.login-form-buttons > li {
  padding: 10px;
  margin: 3px;
}

.login-form{
  height: 300px;
}

.signup-form{
  height: 325px;
}

button{
  border-radius: 3px;
  border: 0;
  box-shadow: none;
  font-weight: lighter;
}

.login-form > form > h2, .signup-form > form > h2{
  text-align: center;
  margin-bottom: 10px;
}

/*.login-btn, .signup-btn, .demo-btn{
  display: flex;
  justify-content: flex-end;
  padding: 0;
  width: 30px;
  margin-top: 10px;
}*/

button{
  cursor: pointer;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.signup-btn > button{
  margin: 10px;
  height: 25px;
  background-color: #796eff;
  color: white;
}

.login-form-buttons, .signup-btn{
  justify-content: flex-end;
  display: flex;
}

.login-form-buttons > button{
  color: white;
  width: 55px;
  margin: 10px;
  height: 25px;
  background-color: #796eff;
}

.login-form > label, .signup-form > label{
  margin-top: 10px;
  margin-bottom: 10px;
}

form > label{
  padding-bottom: 10px;
  padding-top: 15px;
  color: #a1a4aa;
}

.login-form-button{
  display: flex;
  flex-direction: row;
}

form > input{
  height: 18px;
  font-size: 10px;
}

.signup, .login{
  display: flex;
  height: 30px;
  margin-top: 5px;
  justify-content: flex-end;
}

.signup > p, .login > p {
  padding: 0;
  margin: 0;
  color: white;
  font-weight: lighter;
  margin-right: 5px;
  margin-top: 3px;
}

.signup-link, .login-link {
    background-color: #796eff;
    height: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    width: 45px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
}

.hakuna-ui {
  display: flex;
  flex-direction: row;
  height: 100%;
}
