/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

[class^="ReactModal__Overlay"]{
  z-index: 1;
}

 html * {
   font-family: Helvetica, Arial, sans-serif;
 }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#login-auth, #signup-auth {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-auth{
  background: url(https://res.cloudinary.com/dcl72qrya/image/upload/c_scale,w_1080/v1509145098/notebook-computer-chill-relax_mpfx6l.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#signup-auth{
  background-image: url(https://res.cloudinary.com/dcl72qrya/image/upload/c_scale,w_1080/v1509145708/pexels-photo_d2mkwm.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo{
  height: 40%;
  left: 20%;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  font-size: 20px;
}

.logo > img {
  height: 20vh;
}

.logo > p {
  margin-top: 15px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 300;
}

.login-content, .signup-content{
  width: 40%;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login-wrapper, .signup-wrapper{
  width: 100%;
}

.signup-form > form, .login-form > form{
  display: flex;
  flex-direction: column;
}

.login-form, .signup-form {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px 40px;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 5px;
  list-style: none;
  margin: 0;
}

.login-form-buttons > li {
  padding: 10px;
  margin: 3px;
}

button{
  border-radius: 3px;
  border: 0;
  box-shadow: none;
  font-weight: lighter;
  cursor: pointer;
}

.login-form > form > h2, .signup-form > form > h2{
  text-align: center;
  margin-bottom: 10px;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.signup-btn > button{
  margin: 10px;
  padding: 8px 20px;
  margin-top: 20px;
  background-color: #796eff;
  color: white;
}

.signup-btn > button:hover{
  background-color: #594cef
}

.login-form-buttons, .signup-btn{
  justify-content: flex-end;
  display: flex;
}

.login-form-buttons > button{
  color: white;
  padding: 7px 20px;
  text-align: center;
  margin: 10px;
  margin-top: 20px;
  background-color: #796eff;
}


.signup-btn > button{
  margin: 10px;
  padding: 8px 20px;
  margin-top: 20px;
  background-color: #796eff;
  color: white;
}


.signup-link, .login-link {
    background-color: #796eff;
    height: 10px;
    padding: 8px 10px;
    width: 45px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
}


.login-form-buttons > button:hover{
  background-color: #594cef;
}

.login-form > label, .signup-form > label{
  margin-top: 10px;
  margin-bottom: 10px;
}

form > label{
  padding-bottom: 10px;
  padding-top: 15px;
  color: #a1a4aa;
}

.login-form-button{
  display: flex;
  flex-direction: row;
}

form > input{
  height: 18px;
  font-size: 10px;
  padding: 5px;
}

.signup, .login{
  display: flex;
  height: 30px;
  margin-top: 5px;
  justify-content: flex-end;
}

.signup > p, .login > p {
  padding: 0;
  margin: 0;
  color: black;
  font-weight: lighter;
  margin-right: 5px;
  margin-top: 7px;
}

.signup-link, .login-link {
    background-color: #796eff;
    height: 10px;
    padding: 8px 10px;
    width: 45px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
}

.signup-link:hover, .login-link:hover{
  background-color: #594cef;
}

.hakuna-ui {
  display: flex;
  flex-direction: row;
  height: 100%;
}

button, input, textarea {
  outline: 0;
}

