/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  padding: 0;
  margin: 0;
}

#login-auth, #signup-auth {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

html {
  background: url(http://res.cloudinary.com/dcl72qrya/image/upload/v1505711124/login_background_hpnkgq.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#login-auth{
  background: url(http://res.cloudinary.com/dcl72qrya/image/upload/v1505711124/login_background_hpnkgq.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#signup-auth{
  background-image: url(http://res.cloudinary.com/dcl72qrya/image/upload/v1505717424/signup_background_nqqdgh.png)
}

.login-content, .signup-content{
  width: 585px;
  height: 300px;
  position: absolute;
  top: 30%;
  right: 5%;
}

.login-form, .signup-form {
  width: 405px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 90px;
  background-color: white;
  border-radius: 5px;
}

.login-form h2{
  text-align: right;
  margin-right: 20px;
}

.login-btn {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-top: 10px;
}

.login-form label{
  margin-top: 10px;
  margin-bottom: 10px;
}

.signup{
  display: flex;
  height: 20px;
  justify-content: flex-end;
}

.signup p {
  padding: 0;
  margin: 2px;
}

.signup-btn {
    -webkit-appearance: button;
    padding: 3px;
    border-radius: 5px;
    text-decoration: none;
    color: initial;
    font-size: 11px;
}

.hakuna-ui {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.dashboard-nav{
  text-align: center;
  width: 100%;
  height: 15vh;
  background-color: gray;
}

.sidebar{
  height: 100vh;
  background-color: #C3E0E6;
  width: 15%;
}
