.dashboard-ui{
  width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
}

.dashboard-nav{
  text-align: center;
  width: 100%;
  height: calc(15vh - 6px);
  background-color: white;
  padding: 1px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.bottom-bar{
  border-bottom: solid 2px rgba(162, 162, 162, 0.4);
  height: 85%;
}

.bottom-bar > div{
  position: relative;
  top: 30%;
}

.bottom-bar > div > h1 {
  margin: 0;
}

.top-bar {
  box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.3);
  height: 15%;
}

.user-teams{
  list-style: none;
}

.user-teams > ul{
  display: flex;
  flex-direction: row;
}

.user-teams > ul > li {
  padding: 0 5px;
}
