.new-team-form{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 580px;
}

.new-team-header{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.new-team-header > h2{
  width: 564px;
  text-align: left;
  border-bottom: solid black 1px;
}

.new-team-header > button{
 width: 30px;
 height: 30px;
 position: relative;
 margin-top: 17px;
 color: white;
 background-color: #14aaf5
}

.new-team-form > button:hover{
  background-color: #67ccff;
}

.new-team-form > form >label{
  font-size: 15px;
  width: 140px;
}

.new-team-form > form > input{
  margin-left: 20px;
  height: 25px;
  width: calc(100% - 170px);
}

.new-team-form > button{
  margin-top: 40px;
  position: relative;
  left: 410px;
  width: 144px;
  color: white;
  background-color: #14aaf5
}

.leave-team-modal > #header {
  font-size: 24px;
  padding: 10px;
  border-bottom: solid 1px gray;
}

.leave-team-modal > #content {
  font-size: 13px;
  padding: 30px;
}

.leave-team-modal > #buttons{
  display: flex;
  justify-content: flex-end;
  height: 40px;
  padding: 30px;
}

.leave-team-modal{
  height: 250px;
}

.leave-team-modal > div > #confirm-leave:hover{
  background-color: #de2234;
}

.leave-team-modal > div > #confirm-leave {
  background-color: #ff5263;
  color: white;
  width: 90px;
  font-size: 13px;
}

.leave-team-modal > div > #cancel-btn {
  background-color: white;
  color: #14aaf5;
  border: solid #14aaf5 1px;
  margin: 0 30px;
  width: 90px;
  font-size: 13px;
}

.leave-team-modal > div > #cancel-btn:hover{
  background-color: #14aaf5;
  color: white;
}
