.new-team-form{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 580px;
}

.new-team-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
}

.new-team-header > h2{
  width: 564px;
  text-align: left;
  border-bottom: solid black 1px;
}

.new-team-header > button{
 width: 30px;
 height: 30px;
 position: relative;
 margin-top: 17px;
 color: white;
 background-color: #14aaf5
}

.new-team-form > button:hover{
  background-color: #67ccff;
}

.new-team-form > form >label{
  font-size: 15px;
  width: 140px;
}

.new-team-form > form > input{
  margin: 10px;
  height: 25px;
  width: calc(100% - 30px);
  font-size: 13px;
}

.new-team-form > button{
  margin-top: 40px;
  position: relative;
  left: 440px;
  width: 120px;
  color: white;
  background-color: #14aaf5;
  padding: 10px;
}

.leave-team-modal > #header {
  font-size: 24px;
  padding: 10px;
  border-bottom: solid 1px gray;
}

.leave-team-modal > #content {
  font-size: 13px;
  padding: 30px;
}

.leave-team-modal > #buttons{
  display: flex;
  justify-content: flex-end;
  height: 40px;
  padding: 30px;
}

.leave-team-modal{
  height: 250px;
}


.leave-team-modal > div > #confirm-leave {
  background-color: #ff5263;
  color: white;
  width: 90px;
  font-size: 13px;
}

.leave-team-modal > div > #cancel-btn {
  background-color: white;
  color: #14aaf5;
  border: solid #14aaf5 1px;
  margin: 0 30px;
  width: 90px;
  font-size: 13px;
}

.leave-team-modal > div > #confirm-leave:hover{
  background-color: #f74e5e;
}

.leave-team-modal > div > #cancel-btn:hover{
  background-color: #14aaf5;
  color: white;
}

/*Edit Team Modal*/
.edit-team-form{
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 580px;
}

.edit-team-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
}

.edit-team-header > h2{
  width: 564px;
  text-align: left;
  border-bottom: solid black 1px;
}

.edit-team-header > button{
 width: 30px;
 height: 30px;
 position: relative;
 margin-top: 17px;
 color: white;
 background-color: #14aaf5
}

.edit-team-form > button:hover{
  background-color: #67ccff;
}

.edit-team-form > form >label{
  font-size: 15px;
  width: 140px;
}

.edit-team-form > form > input{
  margin: 10px;
  height: 25px;
  width: calc(100% - 30px);
  font-size: 13px;
}

.edit-team-form > button{
  margin-top: 40px;
  position: relative;
  left: 440px;
  width: 120px;
  color: white;
  background-color: #14aaf5;
  padding: 10px;
}

/*New Project Form*/

.new-project-form{
  display: flex;
  flex-direction: column;
  width: 580px;
}

.new-project-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
}

.new-project-header > h2{
  width: 564px;
  text-align: left;
  border-bottom: solid black 1px;
}

.new-project-header > button{
 width: 30px;
 height: 30px;
 position: relative;
 margin-top: 17px;
 color: white;
 background-color: #14aaf5;
}

.new-project-form > button:hover{
  background-color: #67ccff;
}

.new-project-form > form {
  display: flex;
  flex-direction: column;
}

.new-project-form > form >label{
  font-size: 15px;
  width: 140px;
}

.new-project-form > form > input{
  height: 25px;
  width: calc(100% - 16px);
  font-size: 13px;
  padding-left: 7px;
}

.new-project-form > button{
  margin-top: 40px;
  position: relative;
  left: 440px;
  width: 120px;
  color: white;
  background-color: #14aaf5;
  padding: 10px;
}

/*Edit Project Form*/

.edit-project-form{
  display: flex;
  flex-direction: column;
  width: 580px;
}

.edit-project-header{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
}

.edit-project-header > h2{
  width: 564px;
  text-align: left;
  border-bottom: solid black 1px;
}

.edit-project-header > button{
 width: 30px;
 height: 30px;
 position: relative;
 margin-top: 17px;
 color: white;
 background-color: #14aaf5
}

.edit-project-form > button:hover{
  background-color: #67ccff;
}

.edit-project-form > form {
  display: flex;
  flex-direction: column;
}

.edit-project-form > form >label{
  font-size: 15px;
  width: 140px;
}

.edit-project-form > form > input{
  height: 25px;
  width: calc(100% - 16px);
  font-size: 13px;
  padding-left: 7px;
}

.edit-project-form > button{
  margin-top: 40px;
  position: relative;
  left: 410px;
  width: 144px;
  color: white;
  background-color: #14aaf5
}

.edit-project-form > div#buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
}

.edit-project-form > div#buttons > button{
  width: 120px;
  color: white;
  background-color: #14aaf5;
  margin: 0 10px;
  margin-top: 30px;
  padding: 10px;
}

/*Project Delete*/
.project-delete{
  border-top: solid black 1px;
}

.project-delete > p {
  text-align: center;
}

.project-delete > #buttons{
  text-align: center;
  height: 40px;
  padding: 10px;
}

.project-delete > #buttons > #cancel{
  background-color: white;
  color: #14aaf5;
  border: solid #14aaf5 1px;
  height: 100%;
  width: 90px;
  font-size: 13px;
  margin: 5px;
}

.project-delete > #buttons > #delete-project{
  background-color: #ff5263;
  color: white;
  height: 100%;
  font-size: 13px;
  width: 90px;
  margin: 5px;
}

.project-delete > #buttons > #delete-project:hover{
  background-color: #f74e5e;
}

.project-delete > #buttons > #cancel:hover{
  background-color: #14aaf5;
  color: white;
}
