.sidebar{
  height: 100vh;
  background-color: #222b37;
  width: 240px;
  color: white;
}

.sidebar > div{
  width: 100%;
  height: 100%;
}

.sidebar-team-members > div{
  padding: 3px;
}

.sidebar-team-members > ul >li {
  border-radius: 33px;
  border: dashed white 1px;
  width: 33px;
  height: 33px;
}
.sidebar-team-members > ul {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 5px;
}

[class^="member-icon"]{
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: 3px 2px;
  padding: 0;
  color: white;
  vertical-align: center;
}

[class^="member-icon-user"] > div{
  position: relative;
  top: 28%;
  color: white;
  font-size: 10px;
  font-weight: lighter;
}

.member-icon-user-0{
  background-color: #F94449;
}

.member-icon-user-1{
  background-color: #E686DF;
}

.member-icon-user-2{
  background-color: #BBBBDA;
}

.member-icon-user-3{
  background-color: #A3CCA7;
}

.member-icon-user-4{
  background-color: #F94449;
}

.member-icon-user-5{
  background-color: #F94449;
}

.member-icon-user-6{
  background-color: #F94449;
}

div.member{
  position: relative;
  left: 23%;
  top: 20%;
}

.sidebar > div > img{
  height: 100px;
  padding-left: 5%;
  padding-right: 10%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar > div> .spacer{
  height: 50px;
}

.sidebar-projects > ul > button {
  width: 100%;
  background-color: transparent;
  font-size: 13px;
  height: 40px;
  color: white;
  text-align: left;
  margin-left: 10px;
}

.sidebar-team-members > #team{
  font-size: 20px;
  padding: 5px;
  color: gray;
  font-weight: lighter;
}

.sidebar-projects > #projects-header{
  font-size: 15px;
  color: gray;
  padding: 5px;
  font-weight: lighter;
}
