.tasks-ui{
  height: calc(100% - 105px);
  background-color: #F0F8FF;
}

.tasks-list{
  background-color: #F5F5DC;
  height: calc(100% - 25px);
  position: relative;
  top: 25px;
  left: 20%;
  width: 60%;
  border: solid 1px	#DCDCDC;
}
