.tasks-ui{
  height: calc(100% - 105px);
  background-color: #F0F8FF;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tasks-index{
  background-color: white;
  height: calc(100% - 25px);
  position: relative;
  top: 25px;
  width: 100%;
  border: solid 1px	#DCDCDC;
  max-width: 1000px;
  margin: 0 15px;
}

/*Add task button*/
.tasks-index > #header > button{
  background-color: white;
  color: #14aaf5;
  border: solid #14aaf5 1px;
  border-radius: 3px;
  height: 28px;
  width: 80px;
  padding: 0 5px;
  font-size: 13px;
  font-weight: 500;
  margin: 10px 31px;
}

.tasks-index > #header > button:hover{
  border: solid 3px;
  padding: 0 6px;
  font-weight: 600;
}

.tasks-index > #header, .tasks-detail > #header{
  height: 50px;
  margin-bottom: 5px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);
}

.tasks-index > ul{
  height: calc(100% - 50px)
}

.tasks-index > ul > li {
  padding: 0 30px;
  height: 34px;
  display: flex;
  flex-direction: row;
}

li.focused {
  border-top: solid #14aaf5 1px;
  border-bottom: solid #14aaf5 1px;
}

li.unfocused {
  border-top: solid transparent 1px;
  border-bottom: solid transparent 1px;
}

.tasks-index > ul > li > input{
  height: 100%;
  width: calc(100% - 33.28px);
  border: 0;
  border-bottom: solid 1px rgba(0,0,0,0.15);
  background: transparent;
  padding: 0 5px;
}

.tasks-index > ul > li > button {
  padding: 0;
  text-align: center;
  background-color: transparent;
}

.tasks-detail{
  width: 50%;
  background-color: white;
  height: calc(100% - 25px);
  position: relative;
  top: 25px;
  width: 80%;
  margin-right: 15px;
  border: solid 1px	#DCDCDC;
  display: flex;
  flex-direction: column;
}

.tasks-detail > .title > button {
  padding: 10px;
  text-align: center;
  background-color: transparent;
}

.tasks-detail > #header{
  position: relative;
}

/*Close detail button*/
.tasks-detail > #header > #close{
  position: absolute;
  right: 10px;
  top: 5px;
  background-color: transparent;
  font-size: 25px;
  color: gray;
}

.tasks-detail > #header > #close:hover{
  color: #14aaf5;
}

.tasks-detail > #timestamps{
  padding: 0 10px;
}

.tasks-detail > #timestamps * {
  padding: 3px 0;
  font-size: 12px;
  margin: 0 20px;
  color: gray;
}

.tasks-detail > #project-info {
  margin: 0 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

.tasks-detail > #project-info > #project-name {
  border-radius: 15px;
  background-color: #edf1f2;
  padding: 3px 20px;
}

.tasks-detail > #project-info > #project-spacer {
  width: 100%;
  height: 100%;
}

.tasks-detail > .title{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
}

.tasks-detail > .title > input{
  border: 0;
  font-size: 20px;
  width: calc(100% - 75px);
  display: flex;
}

.tasks-detail > #description{
  padding: 10px;
  font-size: 14px;
  resize: none;
  border: 0;
  margin: 0 20px;
  border-radius: 7px;
  border: solid transparent 1px;
}

.tasks-detail > #description:hover{
  border: 1px solid gray;
}

.tasks-detail > #divider {
  border-bottom: solid 1px gray;
  margin: 20px;
}
/*Checkmarks*/

[class^='checkmark']{
  display:inline-block;
  transform: rotate(225deg) scale(1, -1);
  font-size: 15px;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  border: solid black 1px;
  vertical-align: center;
  text-align: center;
  margin-right: 5px;
}

.tasks-detail > .title > button > [class^='checkmark'] {
  width: 28px;
  height: 28px;
  border-radius: 30px;
  font-size: 24px;
}

.checkmark-done{
  background-color: #b2ebe1;
  border-color: #b2ebe1;
  color: white;
}

.checkmark-not-done{
  border-color: gray;
  color: gray;
}

/*.checkmark-not-done:hover{
  background-color: #b2ebe1;
  border-color: #b2ebe1;
  color: white;
}

.checkmark-done:hover{
  background-color: white;
  border-color: gray;
  color: gray;
}*/
